<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fehead.initialize.dao.UserDOMapper">
  <resultMap id="BaseResultMap" type="com.fehead.initialize.dataobject.UserDO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="telphone" jdbcType="VARCHAR" property="telphone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="register_mode" jdbcType="VARCHAR" property="registerMode" />
    <result column="third_party_id" jdbcType="CHAR" property="thirdPartyId" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, telphone, email, register_mode, third_party_id, avatar, display_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTelphone" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where telphone = #{telphone,jdbcType=VARCHAR}
  </select>
  <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where email = #{email,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByThirdPartyId" parameterType="java.lang.String">
    delete from user_info
    where third_party_id = #{thirdPartyId,jdbcType=VARCHAR}
  </delete>
  <select id="selectByThirdPartyId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_info
    where third_party_id = #{thirdPartyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.fehead.initialize.dataobject.UserDO">
    insert into user_info (id, telphone, email, 
      register_mode, third_party_id, avatar, 
      display_name)
    values (#{id,jdbcType=INTEGER}, #{telphone,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{registerMode,jdbcType=VARCHAR}, #{thirdPartyId,jdbcType=CHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{displayName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.fehead.initialize.dataobject.UserDO">
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="telphone != null">
        telphone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="registerMode != null">
        register_mode,
      </if>
      <if test="thirdPartyId != null">
        third_party_id,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="telphone != null">
        #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="registerMode != null">
        #{registerMode,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyId != null">
        #{thirdPartyId,jdbcType=CHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fehead.initialize.dataobject.UserDO">
    update user_info
    <set>
      <if test="telphone != null">
        telphone = #{telphone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="registerMode != null">
        register_mode = #{registerMode,jdbcType=VARCHAR},
      </if>
      <if test="thirdPartyId != null">
        third_party_id = #{thirdPartyId,jdbcType=CHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fehead.initialize.dataobject.UserDO">
    update user_info
    set telphone = #{telphone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      register_mode = #{registerMode,jdbcType=VARCHAR},
      third_party_id = #{thirdPartyId,jdbcType=CHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>